<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=/style.css>
    <title>🦈 Thresher EMS Solutions</title>
</head>
<body>

<h1>🦈 Thresher EMS Solutions</h1>

<h2>Edit Project</h2>


<form action="/projects/<%= project._id %>?_method=PUT" method="POST">

<label for="projectName">Project Name: </label><br>
<input type="text" id="prj-name" name="projectName" value="<%= project.name%>" size="24"><br><br>

<input type="hidden" id="createdBy" name="createdBy" value="<%=currentLoggedInUser%>">


<div class="abc">
    <div class="def">
        <div class ="neat">
            <label for="mfgPn">Mfg p/n:</label>
        </div>
        <div class ="nifty">
            <label for="partQty">Qty</label>
        </div>
        <div class ="nerfty">
            <label for="internalPn">Internal p/n:</label>
        </div>
    </div>
</div>

<div class="abc">
    <div class="def">
        <div class="neat">
            <input type="text" name="mfgPn" value="<%=project.mfgPn%>">
        </div>
        <div class="nifty">
            <input type="text" name="partQty">
        </div>
        <div class="nerfty">
            <input type="text" name="internalPn">
        </div>
    </div>
</div>

<div class="abc">
    <div class="def">
        <div class="neat">
            <input type="text" name="mfgPn">
        </div>
        <div class="nifty">
            <input type="text" name="partQty">
        </div>
        <div class="nerfty">
            <input type="text" name="internalPn">
        </div>
    </div>
</div>

<div>
    <span></span>
</div>
<span></span>




<br>
<input type="submit" value="Submit">


</form>

    
</body>
</html>