<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=/style.css>
    <title>🦈 Thresher EMS Solutions</title>
</head>
<body>

<h1>🦈 Thresher EMS Solutions</h1>


<form action="/excelprojectso" method="POST">

<label for="projectName">Project Name: </label><br>
<input type="text" id="prj-name" name="projectName" size="24"><br><br>

<input type="hidden" id="createdBy" name="createdBy" value="<%=currentLoggedInUser%>">


<div class="abc">
    <div class="def">
        <div class ="neat">
            <label for="mfgPn">Mfg p/n:</label>
        </div>
        <div class ="nifty">
            <label for="partQty">Qty</label>
        </div>
        <div class ="nerfty">
            <label for="internalPn">Internal p/n:</label>
        </div>
    </div>
</div>


<% for (let i = 1; i < 11; i++) { %>   

    <div class="abc">
        <div class="def">
            <div class="neat">
                <input type="text" name="bom[mfgPnBom]" value="<%=project[i][0]%>">
                
            </div>
            <div class="nifty">
                <input type="text" name="bom[partQtyBom]" value="<%=project[i][1]%>">
            </div>
            <div class="nerfty">
                <input type="text" name="bom[internalPnBom]" value="<%=project[i][2]%>">
            </div>
        </div>
    </div>


    <% }  %>



<br>
<input type="submit" value="Submit">


</form>

    
</body>
</html>