<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=/normalize.css>
    <link rel="stylesheet" href=/skeleton.css>
    <link rel="stylesheet" href=/style.css>
    <title>🦈 Thresher EMS Solutions</title>
</head>
<body>

<h1>🦈 Thresher EMS Solutions</h1>
<br><br>

<h2>Sourcing Electronic Components (without all the fuss)</h2>



<img src="thresher.jpeg" alt="thresher shark" id="thresher-img">


<h3>Get Started:</h3>
<br>

<a class="button button-primary" href="/projects/new">Enter Components Manually</a>
<br><br>

<a class="button button-primary" href="/excelprojects/excelnew">Upload Components Using Excel</a>
<br><br>


<br><br>

<h5>Navigation</h5>

<a class="button" href="/projects">Project History</a>

<a class="button" href="/testroute">test route</a>


    
</body>
</html>