<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=/style.css>
    <title>🦈 Thresher EMS Solutions</title>
</head>
<body>

<h1>🦈 Thresher EMS Solutions</h1>


<form action="">

<label for="prj-name">Project Name: </label><br>
<input type="text" id="prj-name" name="prj-name" size="24"><br><br>



<div class="abc">
    <div class="def">
        <div class ="neat">
            <label for="mfg-pn">Mfg p/n:</label>
        </div>
        <div class ="nifty">
            <label for="part-qty">Qty</label>
        </div>
        <div class ="nerfty">
            <label for="internal-pn">Internal p/n:</label>
        </div>
    </div>
</div>

<div class="abc">
    <div class="def">
        <div class="neat">
            <input type="text" name="mfg-pn">
        </div>
        <div class="nifty">
            <input type="text" name="part-qty">
        </div>
        <div class="nerfty">
            <input type="text" name="internal-pn">
        </div>
    </div>
</div>

<div class="abc">
    <div class="def">
        <div class="neat">
            <input type="text" name="mfg-pn">
        </div>
        <div class="nifty">
            <input type="text" name="part-qty">
        </div>
        <div class="nerfty">
            <input type="text" name="internal-pn">
        </div>
    </div>
</div>

<div class="abc">
    <div class="def">
        <div class="neat">
            <input type="text" name="mfg-pn">
        </div>
        <div class="nifty">
            <input type="text" name="part-qty">
        </div>
        <div class="nerfty">
            <input type="text" name="internal-pn">
        </div>
    </div>
</div>
<br>
<input type="submit" value="Submit">

</form>
    
</body>
</html>